* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

/* ------------------------- main page css -------------------------- */
#bg-img {
    background-image: url("../img/pexels-snapwire-6895.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    width: 100vw;
}


#searchBar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    border: 20px solid rgba(0, 0, 0, 0.3);
}

#button-addon2 {
    border-radius: 0;
}

#searchInput {
    border-radius: 0;
}


/* ------------------------- create account page css -------------------------- */
.fieldset {
    background-color: rgba(255, 255, 255, .8);
}

.btn-primary {
    background-color: rgb(36,49,122);
    border-color: rgb(36,49,122);
}

/* ------------------------- login in form css -------------------------- */
.modal-content {
    min-height: 27rem;
}

.modal-body {
    padding: 2.5rem 1.5rem 5.5rem 1.5rem;
}




/* ------------------------- login in form css -------------------------- */
footer {
    z-index: 1000;
}