
#bg-img {
    background-image: url("../img/pexels-snapwire-6895.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    width: 100vw;
    height: 100vh;
}
.card {
    opacity: 80%;
}

.user-pic {
    border-radius: 100%;
    max-width: 50px;
}

a {
    color: white;
    text-decoration: none;
}

.card-img-top {
    width: 200px;
    height: 200px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.nav-logo{
    width: 100px;
}
.footer-logo{
    width: 50px;
}

footer {
    color: white;
}